:root {
    --blue: #0098ff;
    --second-color: #7b35c8;
    --theme-color: #838383;
}

.circle-img-1,
.half-blu-r,
.half-blu-l,
.full-bluthooth,
.main-content-games,
.round-img-big,
.round-img-small {
    position: absolute;
    z-index: -1;
}

.circle-img-1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .circle-img-1 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .circle-img-1 {
        left: 0;
    }
}

.half-blu-r {
    top: -8%;
    right: 17%;
    max-width: 500px;
}

.half-blu-l {
    top: -8%;
    left: 0%;
    max-width: 500px;
}

@media (max-width: 575px) {
    .half-blu-r {
        max-width: 210px !important;
        opacity: .8;
    }
}

@media (max-width: 991px) {
    .half-blu-r {
        max-width: 275px;
    }

    .half-blu-l {
        max-width: 110px;
    }
}

@media (max-width: 1200px) {
    .half-blu-r {
        right: 0;
    }
}

.full-bluthooth {
    top: 50%;
    right: 21%;
}

.main-content-games {
    top: 63%;
    left: 60px;
}

.round-img-big {
    top: 26%;
    right: 50%;
}

.round-img-small {
    bottom: 38%;
    right: 46%;
}

@media (max-width: 575px) {

    .main-content-games,
    .half-blu-l {
        display: none;
    }
}

@media (max-width: 767px) {

    .full-bluthooth,
    .round-img-big {
        display: none;
    }
}

@media (max-width: 991px) {
    .full-bluthooth {
        max-width: 86px;
        top: 31%;
    }

    .round-img-small {
        display: none;
    }
}

@media (max-width: 1400px) {
    .main-content-games {
        display: none;
    }
}

/* ------------------------------ Header ------------------------------ */
.header-i {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .header-i.scrolled {
        background-color: black;
        transition: all 0.3s ease;
    }

    .header-i.scrolled::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, #0098FF 50%, #7C34C8);
    }
}

@media (max-width: 767px) {
    .header-i {
        background-color: #000;
        border-bottom: 1px solid linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    }

    .header-i::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, #0098FF 50%, #7C34C8);
    }
}

.header-l-r {
    background-color: #000;
    border-bottom: 1px solid linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
}

.header-l-r::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, #0098FF 50%, #7C34C8);
}

.dropdown {
    position: relative;
}

.dropdown::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    height: 1px;
    width: 0%;
    transition: .3s;
}

.navbar ul li:hover .dropdown::before {
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(250deg, var(--blue) 0%, var(--second-color) 100%);
}

.dropdown-toggle {
    font-weight: 500;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle i {
    font-size: 14px;
    background: linear-gradient(250deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    transition: all .3s;
}

.dropdown-toggle[aria-expanded=true] i {
    transform: rotate(-180deg);
}

.dropdown-menu {
    display: block;
    margin-top: 23px;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    border-radius: 0;
}

.navbar ul li:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .4s;
    opacity: 1;
}

.header-cart {
    background-color: transparent;
    border: none;
}

.offcanvas-header {
    background-color: var(--blue);
    color: white;
}

.empty-cart {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.empty-cart img {
    width: 22%;
    margin-bottom: 2rem;
}

#cartItems {
    padding: 1rem;
}

.cart-menu-item {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
}

.cart-menu-item:not(:last-of-type) {
    margin-bottom: 20px;
}

.cart-menu-item-img {
    width: 110px;
}

.cart-menu-item-details {
    width: 100%;
}

.cart-menu-item-details h4 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cart-menu-item-details>p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

.quantity-controler {
    border: 1px solid rgb(76 62 62 / 15%);
    display: flex;
    max-width: 100px;
    height: 30px;
    width: 100%;
    color: var(--theme-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.quantity-controler p {
    margin: auto 0;
    color: var(--theme-color);
}

.quantity-controler button {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    flex: 1;
    color: var(--theme-color);
}

.cart-menu-item-details .foot p {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}

.cart-menu-item-details .foot button {
    border: 0;
    background-color: transparent;
    font-size: 15px;
}

#cartFooter {
    padding: 1rem;
    border-top: 1px solid var(--theme-color);
}

.cart-lable {
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    color: white;
}

.cart-icon {
    color: white;
    font-size: 18px;
}

.items-count {
    position: absolute;
    top: -8px;
    right: -13px;
    height: 17px;
    width: 17px;
    background: linear-gradient(250deg, var(--blue) 0%, var(--second-color) 100%);
    color: white;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 5px;
}

#welcomeUser {
    font-size: 15px;
    margin-bottom: -1px;
    font-weight: 600;
}

#welcomeUser p {
    margin-top: -1px;
}

/* ------------------------------ Main ------------------------------ */
.banner {
    background-color: #12103e;
    padding: 10px 15px;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.btn-lable {
    padding: 4px 10px;
    margin-right: 10px;
    background: linear-gradient(90deg, var(--blue) 0%, rgba(0, 152, 255, 0) 100%);
    border-radius: 20px;
    font-size: 14px;
}

.banner p {
    font-size: 14px;
}

.blue-text {
    color: #1c82f3;
}

@media (max-width: 575px) {
    .banner {
        padding: 10px;
    }

    .banner p,
    .btn-lable {
        font-size: 12px;
    }
}

.large-text {
    font-size: 65px;
    font-weight: 600;
    Line-height: 60.07px;
    color: white;
    margin-bottom: 20px;
    max-width: 570px;
}

.large-text b {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

@media (max-width: 370px) {
    .large-text {
        font-size: 32px !important;
        Line-height: 37.07px !important;
    }
}

@media (max-width: 575px) {
    .large-text {
        font-size: 36px !important;
        Line-height: 45.07px !important;
        max-width: 339px !important;
        margin-bottom: 20px !important;
    }
}

@media (max-width: 991px) {
    .large-text {
        font-size: 40px;
        Line-height: 52.07px;
        max-width: 339px;
    }
}

@media (max-width: 1400px) {
    .large-text {
        font-size: 50px;
        Line-height: 60px;
    }
}

.small-text {
    color: var(--theme-color);
    max-width: 475px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .small-text {
        color: white
    }
}

.main-btns {
    padding: 12px 40px;
    font-size: 14px;
}

@media (max-width: 370px) {
    .main-btns {
        padding: 8px 13px;
        margin-right: 17px;
    }
}

@media (max-width: 575px) {
    .main-btns {
        padding: 10px 14px;
        font-size: 12px;
        margin-right: 25px;
    }
}

/* ------------------------------ About ------------------------------ */
.about p {
    color: var(--theme-color);
}

.about-item {
    position: relative;
    z-index: 1;
    padding: 25px 15px;
}

.about-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: 1px solid var(--blue);
    background: linear-gradient(148deg, rgba(1, 152, 255, .18) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 15px;
}

.about-item h3 {
    background: linear-gradient(to bottom, var(--blue) 4.45%, var(--second-color) 93.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-item p {
    max-width: 195px;
}

/* ------------------------------ Shop ------------------------------ */
.best-sellers b {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.best-sellers h2 {
    max-width: 320px;
}

.section-p {
    color: var(--theme-color);
    max-width: 440px;
}

@media (max-width: 991px) {
    .section-p {
        display: none;
    }
}

@media (max-width: 1200px) {
    .section-p {
        max-width: 395px;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .last-product-card {
        display: none;
    }
}

.product-card {
    position: relative;
    padding: 15px;
    background: linear-gradient(148deg, rgba(1, 152, 255, .18) 0%, rgba(0, 0, 0, 0) 100%);
    transition: all ease-in-out .5s;
    border-radius: 0 12px;
    z-index: 1;
}

.product-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border-radius: inherit;
    border: 1px solid var(--second-color);
    z-index: -1;
}

.like-btn-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;
}

.product-card:hover .like-btn-cont {
    opacity: 1;
}

@media (max-width: 768px) {
    .like-btn-cont {
        opacity: 1;
    }
}

.like-btn {
    border: none;
    color: white;
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    border-radius: 0 10px;
    padding: 10px 15px;
}

.like-btn.favorited {
    color: red;
}

.product-card h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-card .product-category {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--theme-color);
    font-weight: 500;
}

.product-card .product-state {
    padding: 3px 10px;
    color: white;
    font-size: 14px;
    background: linear-gradient(to right, var(--blue) 0%, rgba(0, 152, 255, 0) 130%);
    border-radius: 5px;
}

.version {
    font-size: 13px;
    font-weight: 600;
}

.select-styles {
    width: 100%;
    padding: 10px;
    border: solid 1px var(--theme-color);
    border-radius: 0 10px;
    outline: none;
    background-color: transparent;
    color: var(--theme-color);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: -8px;
}

.prv-price {
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
}

.price span,
.prv-price span {
    font-size: 11px;
}

@media (max-width: 575px) {
    .add-cart-btn {
        padding: 8px 31px !important;
    }
}

.add-cart-btn {
    font-size: 14px;
    padding: 7px 30px;
    border-radius: 0 10px !important;
}

/* ------------------------------ Newsletter ------------------------------ */
@media (max-width: 767px) {
    .news-letter {
        flex-direction: column-reverse;
    }
}

.subscribe-span {
    background: linear-gradient(90deg, var(--blue) 0%, var(--second-color) 100%);
    opacity: 62%;
    padding: 3px 10px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.news-letter b {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-letter p {
    color: var(--theme-color);
}

@media screen and (max-width: 575px) {
    .news-input {
        padding: 14.5px 100px 14.5px 15px;
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .news-input {
        padding: 13px 100px 13px 20px;
    }
}

.news-input {
    padding: 13px 155px 13px 20px;
    border: 1px solid black;
    color: var(--theme-color);
    width: 100%;
    outline: none;
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    line-height: 1;
    border-radius: 0 20px;
}

@media (max-width: 991px) {
    .news-btn {
        padding: 14px 20px !important;
    }
}

.news-btn {
    border-radius: 0 15px 0 0;
    color: white;
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    font-size: 13px;
    height: 100%;
    border: 0;
    padding: 14px 45px;
}

/* ------------------------------ Login & Register ------------------------------ */
.login-register-form {
    padding: 70px 0;
}

@media (max-width: 767px) {
    .login-register-form {
        padding: 40px 0;
    }
}

.back-btn {
    color: black;
    font-size: 14px;
}

.circle-shape {
    width: 34px;
    height: 34px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.form-head {
    font-weight: 600;
}

.form-style {
    border: 1px solid #cccccc;
}

.form-container {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    color: black;
}

.form-container h5 {
    font-weight: 400;
}

.form-input {
    border: 1px solid #cccccc;
    outline: none;
    width: 100%;
    padding: 15px 20px;
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    line-height: 1;
    border-radius: 0 20px;
    color: var(--theme-color);
}

.form-container input[type="checkbox"] {
    vertical-align: middle;
    border: 1px solid #cccccc;
}

.submit-btn {
    padding: 14px 10px;
    width: 170px;
    font-size: 14px;
}

.register-btn {
    padding: 10px 40px;
    font-size: 14px;
}

/* ------------------------------ Store ------------------------------ */
.section-title {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

#storeSection .ss {
    margin-bottom: 0;
    height: 42px;
}

#storeSection .search-input {
    padding: 10px;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    outline: none;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    border-radius: 0 10px;
    height: 42px;
}

/* ------------------------------ Cart Page Main ------------------------------ */
#cartMain .section-title {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/* ------------------------------ Cart Page Section ------------------------------ */
#probEmpty .empty-img {
    max-width: 70px;
    margin-bottom: 0.75rem;
}

#cartContainer .cart-page-item {
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(148deg, rgba(1, 152, 255, .18) 0%, rgba(0, 0, 0, 0) 100%);
    transition: all ease-in-out .5s;
    border-radius: 0 12px;
    z-index: 1;
}

#cartContainer .cart-page-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border-radius: inherit;
    border: 1px solid var(--second-color);
    z-index: -1;
}

.cart-page-item-img {
    max-width: 95px;
}

.cart-page-item-details {
    width: 100%;
    padding-left: 1rem;
}

.cart-page-item-details h4 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cart-page-item-details>p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

.quantity-controler button {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    flex: 1;
    color: var(--theme-color);
    z-index: 10;
}

.cart-page-item-details .foot p {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}

.cart-page-item-details .foot button {
    border: 0;
    background-color: transparent;
    font-size: 15px;
    z-index: 10;
}

.cart-page-total-cont {
    text-align: center;
    padding: 30px 15px;
    border-radius: 0 20px;
    border: 1px solid #dee2e6;
    height: 100%;
}

.cart-page-total {
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ------------------------------ Favorites Page Section ------------------------------ */
.empty-favorites-page {
    position: absolute;
    bottom: -35%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.scrollable-section {
    overflow-x: auto;
    scrollbar-width: none;
    min-height: 141px;
}

.scrollable-section::-webkit-scrollbar {
    display: none;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: lightgray;
    margin: 0 .25em;
}

.dot.active {
    background: var(--blue);
}

#favoritesContainer .empty-img {
    max-width: 70px;
    margin-bottom: 0.75rem
}

.favorites-page-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(148deg, rgba(1, 152, 255, .18) 0%, rgba(0, 0, 0, 0) 100%);
    transition: all ease-in-out .5s;
    border-radius: 0 12px;
    z-index: 1;
}

.favorites-page-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border-radius: inherit;
    border: 1px solid var(--second-color);
    z-index: -1;
}

.favorites-page-item-img {
    width: 220px;
}

.favorites-page-item-details {
    width: 100%;
    padding-left: 0.75rem;
}

.favorites-page-item-details h4 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    max-width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.favorites-page-item-details p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

.favorites-page-item-details button {
    border: 0;
    background-color: transparent;
    color: red;
    font-size: 15px;
    z-index: 10;
}

/* ------------------------------ Cart Notification ------------------------------ */
.cart-notification {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1021;
    padding: 15px;
    color: var(--theme-color);
    background-color: white;
    max-width: 380px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all .4s;
}

@media (max-width: 767px) {
    .cart-notification {
        max-width: 300px;
        padding: 10px;
    }
}

.cart-notification-expanded {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.cart-notification-header {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

.cart-notification-product {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

.cart-notification-product img {
    max-width: 33%;
    border: 1px solid #cccccc;
}

.cart-notification-product .p-name {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}

.cart-notification-product .p-version {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 500;
}

.cart-notification-footer a,
.cart-notification-footer button {
    font-size: 14px;
    font-weight: 600;
}

/* ------------------------------ Footer ------------------------------ */
.footer {
    padding-top: 50px;
}

.grad-text {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer h4 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 20px;
}

.footer ul li {
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s;
}

.footer ul li:hover {
    letter-spacing: 1px;
}

.footer ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

.arr-icon {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
}

.social-icons li:not(:last-of-type) {
    margin-right: 10px;
}

.social-icons a {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    transition: all .3s ease-in-out;
}

.social-icons a:hover {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    color: white;
}

.link-git {
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}